@import url(reset.css);

body {
    color: white;
}

#fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#fondo img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 1.5s;
    filter: grayscale(0.8)
}

#tapa {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/fondo/fondolanding.jpg);
    opacity: 0.95;
}